.container {
    width: 60%;
    margin: 0 auto;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table , td, th {
    border: 1px solid #121212;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {

    .container {
        width: 95%;
    }
}